@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "spinner";

.small-text {
  color: $medium-gray;
  text-transform: uppercase;
  font-size: modular-scale(-1);
}

#loading {
  
}

#select-map {  
  position: absolute;
  z-index: 1;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: $base-border-radius;
  text-align: center;
  background-color: white;
  box-shadow: $base-box-shadow;
  padding: 30px;
  
  a {
    padding: 20px;
  }
}

#container {
  width:100%;
  height:100%;
  position: absolute;
  pointer-events: none;
  @include filter(blur(5px));
  
  header {
    background-color: $base-background-color;
    @include display(flex);
    @include align-items(center);
    box-shadow: $base-box-shadow;
    height: 7%;
    width: 100%;
    position: relative;
    z-index: 1;
    
    #logo {
      padding: 10px 25px;
      margin: 0;
    }
    
    #nav {
      @include display(flex);
      @include align-items(stretch);
      height: 100%;
      
      li {
        @include display(flex);
        @include align-items(center);
        padding: 0 15px;
        color: $dark-gray;
        
        &:active,
        &:focus,
        &:hover {
          cursor: pointer;
          color: tint($dark-gray, 50%) !important;
        }
      }
    }
  }
  
  main {
    width: 100%;
    height: 93%;
    
    #map {
      float: left;
      width: 60%;
      height: 100%;
    }

    #list {
      padding: 20px 40px;
      width: 40%;
      height: 100%;
      overflow: hidden; 
      overflow-y: scroll;
      background-color: $base-background-color;
      
      .place-info {
        margin: 0 0 30px;
        
        .details {
          @extend .small-text;
          margin: 0 0 15px;
        }
        
      }
    }

  }
}

.window-text {
  font-family: $base-font-family;
  font-weight: 400;
  overflow: hidden;
  text-align: center;
  padding: 10px 0;
  max-width: 200px;
  
  .window-name {
    font-size: modular-scale(3);
  }
  
  .window-address, .list-button {
    @extend .small-text;
    font-size: modular-scale(0);
  }
  
  .list-button {
    color: $action-color;
  } 
}