body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  font-weight: 400;
  margin: 0 0 $header-spacing;
}

//use for biggest headers
h1 {
  font-size: modular-scale(6);
}

//use for titles of places
h2 {
  font-size: modular-scale(4);
  margin: 0 0 $small-spacing/2;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
